@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");


/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	@-ms-viewport {
		width: device-width;
	}

	body {
		font-size: 13.5pt;
		font-family: sans-serif;
		background-color: #e3e9dc;
		font-family: 'Ubuntu Condensed', sans-serif;
	}

	h1, h3, h4 {
		color: #007897;
		font-weight: normal;
	}

	h1 {
		text-transform: lowercase;
	}

.fonspag{
	background-image: url(images/banner.png);
    background-repeat: repeat;

}
/* titol */
.titol {
	
background-image: url(images/banner.png);
background-size: cover;
color: #fff;
text-shadow: 0 0 9px #ffffff, 0 0 5px #000000;
font-size: 200px;
}
.textotitol{
	background-image: url(images/banner.png);
	background-size: cover;
	text-shadow: 0 0 9px #ffffff, 0 0 5px #000000;

}
	#banner {
		position: relative;
		width: 100%;
		padding: 6em 0;
		border-radius: 10px;
		background-image: url(images/banner.png);
		background-size: cover;
		text-align: center;
		box-shadow: inset 0 0 0 20px rgb(3, 1, 1);
	}

		#banner h2 {
			font-size: 3.3em;
			color: rgb(0, 0, 0);
			text-align: center;
			letter-spacing: -2px;
			margin: 0;
		}

/* text */
#carouselExampleIndicators img{
	width: 100%;
	height: 100%;
	
	}
	#main {
		background-image: url(images/banner.jpg);
		padding: 4em 0;
	}
	.h2text{
		font-size: 35pt;
		text-align: center;
		text-shadow: 0 0 9px #ffffff, 0 0 5px #000000;
        font-size: 60px;
	}

.sage{
	text-align: center;
	font-size: 30pt;
	
	}
.raze{
	text-align: center;
	font-size: 30pt;
	position: absolute;
    top: -550px;
	left: 760px ;
	width: 50px;
	height: 60%;

	}
	.cypher{
		text-align: center;
		font-size: 30pt;
		position: absolute;
		top: -490px;
		right: 800px ;
		width: 10%;
		height: 55%;
	
		}
