
.titulo{
    text-shadow: 0 0 9px white, 0 0 5px white;
    font-size: 200px;
    left: 20%;
    color: aliceblue;
    text-align: center;
    position: absolute;
    left: 40% ;
    color: aliceblue  ;  
}
.fonspagredes{
   background-color: black}