.reynapag2{
    text-align: center;
    font-size: 30pt;    
    position: absolute;
    top: 50px;
    left: 40% ;
    color: aliceblue  ;  
    top:200px;
}



.fonspagsage{
    background-image: url(images/valorant_fons.jpg);
    background-repeat: repeat;