.verde
{
    background-color: green;
}

.rojo
{
    background-color: red;
}
.morado
{
    background-color: rebeccapurple;
}
.naranja
{
    background-color: orange;
}
.rosa
{
    background-color: pink;
    padding-top: 0%;

}
.azul{
    background-color: blue;
}