#imatge{
    border: 600px; 
    width: 600px;
    
}
.cuadro1{
    background-color: olivedrab;
    float: left;
    width: 66.6%;
    height: 100px;
}
.cuadro2{
    background-color: yellowgreen;
    float: right;
    width: 33.3%;
    height: 100px;
}
.cuadro3{
    background-color: black;
    float: left;
    width: 33.3%;
    height: 200px;
}
.cuadro4{
    background-color: yellowgreen;
    float: left;
    width: 33.3%;
    height: 200px;
}
.cuadro5{
    background-color: olivedrab;
    float: left;
    width: 33.3%;
    height: 100px;
}
.cuadro6{
    background-color: yellowgreen;
    float: left;
    width: 33.3%;
    height: 100px;
}
.cuadro7{
    background-color:  black;
    float: right;
    width: 33.3%;
    height: 200px;
}
.cuadro9{
    background-color:  yellowgreen;
    float: left;
    width: 66.6%;    
    height: 100px;
}

.cuadro8{
    background-color: olivedrab;
    float: left;
    width: 66.6%;
    height: 100px;
}


.cuadro10{
    background-color: olivedrab;
    float: right;
    width: 33.3%;
    height: 100px;
}
.cuadro11{
    background-color: yellowgreen;
    float: right;
    width: 33.3%;
    height: 100px;
}
.cuadro12{
    background-color: olivedrab;
    float: right;
    width: 33.3%;
    height: 100px;
}