#viewer .nav-previous {

    cursor: help ;  /* es un cursor afegit, diferent */
}
#viewer .nav-next {

    cursor: e-resize ;  /* es un cursor afegit, diferent */
}
.capçaleraespecial { 
background-color: aqua;
}
#webmodificada { 
position: fixed;   
transform: rotate(20deg);
font-size: 10px;
padding-top: 11px;
padding-right: 236px;
padding-bottom: 1522px;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
h1 { 
  
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    }
